# --- KONFIGURASI DATABASE MYSQL ---

DB_HOST=host_db_anda
DB_USER=user_db_anda
DB_PASSWORD=pass_db_anda
DB_NAME=nama_db_anda

# --- KONFIGURASI FLASK APP ---
# Secret Key untuk keamanan session (acak string sembarang)
SECRET_KEY=rahasia_negara_12345_ganti_ini
# Mode: 'development' (untuk debug) atau 'production'
FLASK_ENV=development
# Port aplikasi berjalan
APP_PORT=5000

# --- KONFIGURASI AI (GOOGLE GEMINI) ---
# Masukkan API Key yang Anda dapat dari Google AI Studio
GEMINI_API_KEY=ganti_key_anda_di_sini